<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAt6Ygsjf0mIIsQyVKc3_Fa32E3Ty9155A</string>
	<key>GCM_SENDER_ID</key>
	<string>956376408273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kbl.captain.com</string>
	<key>PROJECT_ID</key>
	<string>kbl-captain</string>
	<key>STORAGE_BUCKET</key>
	<string>kbl-captain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956376408273:ios:cef632b924460b2b4265f0</string>
</dict>
</plist>